@model JewelryRentalSystem.Models.Appointment
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@{
    ViewData["Title"] = "Create";
}

<h3 id="createAppointmentH3">Create Appointment</h3>
<hr />
<div class="row">
    <div class="container" id="createAppointmentDiv">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" readonly value="@(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value)" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateOfAppointment" class="control-label"></label>
                <input asp-for="DateOfAppointment" class="form-control" />
                <span asp-validation-for="DateOfAppointment" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="TimeId" class="control-label"></label>
                <select asp-for="TimeId" class="form-control" asp-items="ViewBag.TimeId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="TimeOfAppointment" class="control-label"></label>
                <select asp-for="TimeOfAppointment" class="form-control" asp-items="ViewBag.TimeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmountToBePaid" class="control-label"></label>
                <input asp-for="TotalAmountToBePaid" class="form-control" />
                <span asp-validation-for="TotalAmountToBePaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
            </div><br />
            <div class="container d-inline-flex justify-content-start" id="appointmentBtns">
                <div>
                    <a class="btn btn-secondary" asp-action="Index" asp-controller="Cart">Back to Cart</a>&nbsp
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>


