@model JewelryRentalSystem.Models.Location

@{
    ViewData["Title"] = "Create";
}

<div class="container" id="addLocationContainer">
    <h3>Add Branch Location</h3>
    <div class="row">
        <div class="">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Location Name</label>
                    <input asp-for="LocationName" class="form-control" />
                    <span asp-validation-for="LocationName" class="text-danger"></span>
                </div><br />
                <div class="d-inline-flex justify-content-between">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-warning" />&nbsp
                    </div>
                    <div>
                        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

