@model JewelryRentalSystem.Models.Location

@{
    ViewData["Title"] = "Edit";
}

<h4 id="modifyLocationH4">MODIFY LOCATION</h4>
<hr />
<div class="row">
    <div class="container" id="modifyLocationContainer">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocationId" />
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div><br />
            <div class="d-inline-flex justify-content-between">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-warning" />&nbsp
                </div>
                <div>
                    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>


