@model IEnumerable<JewelryRentalSystem.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<div class="container" id="locationContainer">
    <div class="container d-inline-flex justify-content-between">
        <h3>Branch Locations</h3>
        <p>
            <a class="btn btn-outline-secondary" asp-action="Create">Create New</a>
        </p>
    </div>
    <table class="table">
        <thead>
            <tr id="locationTR">
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="locationTRBody">
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.LocationId">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>