@model IEnumerable<JewelryRentalSystem.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h4 id="transactionListH4">TRANSACTION HISTORY</h4>
<hr />
@foreach (var item in Model) {
    <div id="containerTransaction">
        <div class="card" style="width: 18rem;" id="transactioCard">
            <div class="card-body" id="transactionCardBody">
                <h5 class="card-title">Transaction</h5>
                <h6 class="card-subtitle mb-2 text-muted">Appointment ID: @Html.DisplayFor(modelItem => item.Appointment.AppointmentId)</h6>
                <h6 class="card-subtitle mb-2 text-muted">Transaction ID: @Html.DisplayFor(modelItem => item.TransactionId)</h6>&#160
                <div class="container" id="transactionBtns">
                    <a class="btn btn-outline-secondary form-control" asp-route-id="@item.AppointmentId" asp-action="Details" asp-controller="Appointment">Appointment Details</a>
                    <a class="btn btn-outline-secondary form-control" asp-route-id="@item.TransactionId" asp-action="CartItems" asp-controller="Cart">View Items</a>
                </div>
            </div>
        </div>
    </div>
}