

<div>
    <h1>About Us</h1>
    <p>Sobrang daming introduction</p>
    <br />
    <h4>Our Team</h4>
    <div id="containerTransaction">
        <div class="card" style="width: 18rem;" id="transactioCard">
            <div class="card-body" id="transactionCardBody">
                <img height="150px" src="~/img/user1.png"/><h5 class="card-title">Erica Barrientos</h5>                
                <small>ericabarrientoswork@gmail.com</small>
            </div>
        </div>
    </div>

    <div id="containerTransaction">
        <div class="card" style="width: 18rem;" id="transactioCard">
            <div class="card-body" id="transactionCardBody">
                <img height="150px" src="~/img/user1.png" /><h5 class="card-title">Abdul Hanief Rizada</h5>
                <small>abdul.hanief.rizada@gmail.com</small>
            </div>
        </div>
    </div>
</div>