

<div>
    <h1>About Us</h1>
    <p>Welcome to our jewelry rental system. As you can see, our website is quite unusual for a rental system. We are a two-person team, and our client PJLI, who operates a jewelry business and, as we all know, does everything online, inspired us to come up with this idea.</p>
    <p>Although we wear jewelry almost every day these days, it can get expensive to buy new pieces for every occasion. Renting is a better choice as a result. A visit to a store to look for a nice-looking item that can be rented or purchased can take a lot of time. To solve these problems, the creators decided to launch an online jewelry rental system that would act as a platform for anyone who wanted to simply search for a particular piece of jewelry, set up a time to negotiate with the staff, or rent without going to the actual store.</p>
    <br />
    <h4>Our Team</h4>
    <div id="containerTransaction">
        <div class="card" style="width: 18rem;" id="transactioCard">
            <div class="card-body" id="transactionCardBody">
                <img height="150px" src="~/img/user1.png"/><h5 class="card-title">Erica Barrientos</h5>                
                <small>ericabarrientoswork@gmail.com</small>
            </div>
        </div>
    </div>

    <div id="containerTransaction">
        <div class="card" style="width: 18rem;" id="transactioCard">
            <div class="card-body" id="transactionCardBody">
                <img height="150px" src="~/img/user1.png" /><h5 class="card-title">Abdul Hanief Rizada</h5>
                <small>abdul.hanief.rizada@gmail.com</small>
            </div>
        </div>
    </div>
</div>