@model JewelryRentalSystem.ViewModels.RoleViewModel

<div class="container" id="createRoleContainer">
    <h3 style="text-align:center"> Create Role</h3>
    <form method="post" asp-action="Create" asp-controller="Role">
        <!-- need of form element in HTML 5-->
        <div>
            <label>Role Name</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div><br />
        <div class="d-inline-flex justify-content-start">
            <button class="btn btn-warning" type="submit">Create</button> &nbsp
            <a class="btn btn-secondary" asp-action="GetAllRoles">Cancel</a>
        </div>
    </form>
</div>