@using Microsoft.AspNetCore.Identity;
@model List<IdentityRole>


<div class="container " id="rolesContainer">
    <div class="container d-inline-flex justify-content-between" id="roleH3AddDiv">
        <h3>List of Roles</h3>
        <a class="btn btn-outline-secondary" asp-action="Create" asp-controller="Role">Add Role</a>
    </div><br />
    <table class="table">
        <br />
        <thead class="thead-dark">
            <tr id="roleTR">
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr id="roleTRBody">
                    <td>@role.Name</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" asp-controller="Role" asp-action="Update" asp-route-roleId="@role.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Role" asp-action="Delete" asp-route-roleId="@role.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>