@using Microsoft.AspNetCore.Identity;
@model IdentityRole 


<div class="container" id="updateRoleContainer">
    <h3 style="text-align:center"> Modify Role</h3>
    <form method="post" asp-action="Update" asp-controller="Role" > <!-- need of form element in HTML 5-->
       <div asp-validation-summary="All" class="danger-text"></div>
        <div>
            <label>Role Name</label>
            <input asp-for="Name" class="form-control" />
        </div><br />
        <div class="d-inline-flex justify-content-start">
            <button class="btn btn-warning" type="submit">Update</button> &nbsp
            <a class="btn btn-secondary" asp-action="GetAllRoles">Cancel</a>
        </div>
    </form>
</div>