body {
}

div.row {
}

#containerProd {
    justify-items: center;
}

#productView {
    text-decoration: none;
    color: inherit;
}

#navbarToggler {
    color: green;
}

.wrapper {
    float: left;
    clear: left;
    display: table;
    table-layout: fixed;
}

img.img-responsive {
    display: table-cell;
    max-width: 100%;
}

#prodDetailsContainer {
    display: flex;
    justify-content: space-between;
}

#prodDetailLastChild {
    flex-basis: 100%;
    justify-content: space-between;
    padding-inline-start: 20px;
    display: flex;
    flex-direction: column;
}

#backToHomePage {
    justify-content: flex-end;
    display: flex;
}