html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar, footer {
    background-color: #00263D;
}

* {
    box-sizing: border-box;
}


.row {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

.col {

    width: 200px;
    padding: 5px;
    
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

div#carouselExampleIndicators {
    position: relative;
    height: 350px;
    width: 100%;
    -webkit-mask-image: linear-gradient(black 50%, transparent);
    mask-image: linear-gradient(black 50%, transparent);
    mask-mode: luminance;
}

div.carousel-inner {
    position: absolute;
    height: 350px;
    width: 100%;
}

div.carousel-item img {
    position: inherit;
    object-fit: cover;
}

div.input-group {

}
.container-product {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#containerProd{
    justify-items:center;

}

.container-md {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
