html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar, footer {
    background-color: #00263D;
}

* {
    box-sizing: border-box;
}


.row {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

.col {

    width: 200px;
    padding: 5px;
}

div#carouselExampleIndicators {
    position: relative;
    height: 350px;
    width: 100%;
    -webkit-mask-image: linear-gradient(black 50%, transparent);
    mask-image: linear-gradient(black 50%, transparent);
    mask-mode: luminance;
}

div.carousel-inner {
    position: absolute;
    height: 350px;
    width: 100%;
}

div.carousel-item img {
    position: inherit;
    object-fit: cover;
}

div.input-group {

}
.container-product {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div.row {
   
}
#containerProd{
    justify-items:center;

}
