 html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


* {
    box-sizing: border-box;
}

/* PRODUCT DESIGN */

#stock {
    color: #E9DE82;
}
#priceStock {
    display: inline-flex;
    width: 100%;
}
#productListH3 {
    color: #6C757D;
}
#productContainer {
    /*    border:ridge;*/
}
#productLeftContainer {
    border: ridge;
    width: 15%;
}
#productRightContainer {
    border: ridge;
    width: 15%;
}

#productColumn {
    width: 220px;
    height: 380px;
}
#productCard {
    height: 360px;
}
#prodFooter{
    height:30px;
}

#containerProd {
    display: inline-flex;
    padding: 10px;
    justify-content: space-between;
}

#getAllProductsContainer {
    flex-direction: column;

}
#cardBodyDiv{
    height:310px;
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

div#carouselExampleIndicators {
    position: relative;
    height: 350px;
    width: 100%;
    -webkit-mask-image: linear-gradient(black 50%, transparent);
    mask-image: linear-gradient(black 50%, transparent);
    mask-mode: luminance;
    margin: 0;
    padding: 0;
}

div.carousel-inner {
    position: absolute;
    height: 350px;
    width: 100%;
}

div.carousel-item img {
    position: inherit;
    object-fit: cover;
}

.container-product {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

Erica Barrientos 2:59 PM
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}


* {
    box-sizing: border-box;
}



.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

div#carouselExampleIndicators {
    position: relative;
    height: 350px;
    width: 100%;
    -webkit-mask-image: linear-gradient(black 50%, transparent);
    mask-image: linear-gradient(black 50%, transparent);
    mask-mode: luminance;
}

div.carousel-inner {
    position: absolute;
    height: 350px;
    width: 100%;
}

div.carousel-item img {
    position: inherit;
    object-fit: cover;
}


.container-product {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}



/*ERCZZZ*/

#productView {
    text-decoration: none;
    color: inherit;
}


/* NAVBAR */
#navbarImg {
    height: 45px;
}

#prodImg {
    background-color: #909090;
}
#navbarImgDiv {
    height: 40px;
    width: 40px;
}

#navbarToggler {
    color: green;
}
#navbarDiv {
    height: 70px;
}
    #navbarDiv li {
        color: #E9DE82;
    }

#navbar2ndDiv {
    margin-left: 5%;
}

#navbarRight {
    margin-right: 5%;
}

.wrapper {
    float: left;
    clear: left;
    display: table;
    table-layout: fixed;
}

img.img-responsive {
    display: table-cell;
    max-width: 100%;
}

#prodDetailsContainer {
    display: flex;
    justify-content: space-between;
    padding:50px;
}

#prodDetailLastChild {
    flex-basis: 100%;
    justify-content: space-between;
    padding-inline-start: 20px;
    display: flex;
    flex-direction: column;
}
    #prodDetailLastChild h6 {
        color: #CDC781;
    }
    #prodDetailLastChild h5 {
        color: #909090;
    }

    #backToHomePage {
        justify-content: flex-end;
        display: flex;
    }


/*Sign Up Design*/
#signUpContainer {
    margin-right: auto;
    margin-left: auto;
    margin: auto;

}
#signUpTitle, #signUpParag {
    text-align: center;
}
#signUpBtnDiv{

}

#signUpContainer2ndDiv {
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    border-style: ridge;
    width: 600px;
    padding: 10px
}
#signUpfield {
    padding-top: 12px;
}

/*FOOTER AND NAVBAR*/
.navbar, footer {
    background-color: #00263D;
    color: white;
}

/*Login Design*/

#loginContainer {
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}
#login2ndDiv{
    margin-left: auto;
    margin-left: auto;
    margin: auto;
    width: 500px;
    border-style: ridge;
    padding: 10px;
}
#loginH4, #loginParag {
    text-align: center;
}
/* Cart Notification*/
.notification {
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

    .notification .badge {
        position: absolute;
        top: -7px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        background: red;
        color: white;
    }

/* NAVBAR BUTTONS */


#navbarDiv a:hover {
    color: #E9DE82;
}


#navbarRegisterButton,
#navbarLoginButton,
#privacyNav,
#productNav,
#adminMngmentBtn,
#navbarUser {
    color: white;
}

    #roleNav,
    #prodMngmntNav,
    #changePassNav,
    #logoutNav,
    #catMngmntNav {
        color: black;
    }
/*li:active{
    background-color: white;
}

#navbar2ndDiv li a:focus {
    background-color: #EAB126
}*/


/* CALENDAR DESIGN */
/* Month header */
.month {
    padding: 30px 25px;
    width: 100%;
    background: #212529;
    text-align: center;
}

    /* Month list */
    .month ul {
        margin: 0;
        padding: 0;
    }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

    /* Previous button inside month header */
    .month .prev {
        float: left;
        padding-top: 10px;
    }

    /* Next button */
    .month .next {
        float: right;
        padding-top: 10px;
    }

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;

}

    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    font-size: 20px;

}

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: #777;
    }

        /* Highlight the "current" day */
        .days li .active {
            padding: 10px;
            background: #7C7C7C;
            color: white !important
        }
#calendarDiv {
    height: 80%;
    padding: 10px;

    box-shadow: 5px 7px 16px -2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 5px 7px 16px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: 5px 7px 16px -2px rgba(0,0,0,0.58);
}

#appointmentForm {
    background-color: #212529;
    padding: 5px;
    padding-bottom: 15px;
    color: #F3F3F3;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}
#pTagCalendar {
    text-align: center;
    color: #DDDDDD;
    font-size:0.5px;
    font-weight: bold;
}

#appointmentBtns{
    padding:0;
}
/* CHANGE PASSWORD */
#changePass2ndDiv {
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding: 20px;
    border-style: ridge;
}


#changePassBackBtn {
    margin-right: 10px;
}
#changePassBtnDiv{
    justify-content:flex-start;
}
#changPassTitle{
    text-align:center;
}

/*APPOINTMENT DESIGN*/
#createTransactionH4 {
    color: #6C757D;
}
#createAppointmentH4 {
    text-align: center;
    color: #6C757D;
}
#createAppointmentContainer {
    width: 40%;
}
#createAppointmentDiv {
    width: 40%;
    border-style: ridge;
    padding: 20px;
}
#createAppointmentH3 {
    text-align: center;
}

#appointmentContainer{
    width: 80%;

}
#appointmentTR {
    background-color: #212529;
    color: white;
    border: ridge;
    text-align:center;
}
#appointmentBodyTR {
    background-color: #F2F2F2;
    border: ridge;
    text-align: center;
}
/* CART DESIGN */
#deleteCartH4 {
    color: #6C757D;
    text-align:center;
}
#deleteCartBtns {
    display: flex;
    justify-content: end;
    padding: 0px;
}
#deleteCartDetails {
    width: 60%;
}
#deleteCartImg {
    height:200px;
}
#deleteCartImgDiv {
    width: 40%;
}
#deleteCartContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
    -webkit-box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
    -moz-box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
}
#cartListContainer table {
    box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
    -webkit-box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
    -moz-box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
}
#cartListTR {
    background-color: #6C757D;
    color: white;
    text-align: center;
}
#cartListTRBody {

    text-align:center;
}
#cartProductImg {
    height: 90px;

}
#noItemsBtn {
    display: flex;
    flex-direction: column;
    width: 20%;
}
#noItemsImg {
    width: 40%;
}
    #noItemsImg img{
        opacity: 40%;
        height:400px;
    }
    #cartDiv {
        width: 80%;
        padding: 10px;
    }
#totalH5 {
    color: #6C757D;
    text-align: end;
}
#cartTR {
    background-color: #373737;
    color: white;
    border: ridge;
}

#cartBodyTR {
    background-color: #F2F2F2;
    border:ridge;
}

/* ADD TO CART DESIGN */
#editCartH4 {
    text-align: center;
    color: #6C757D;
}
#editCartContainer {
    width: 40%;
    border: ridge;
    padding: 10px;
}
#addToCartBtns {
    display: flex;
    justify-content: end;
    padding: 0;
}
#addToCartH4 {
    text-align: center;
    color: #6C757D;
}
#addToCartContainer img {

    padding: 20px;
}
#addToCartForm {
    padding: 20px;
    width: 50%;

}
#addToCartContainer {
    display: flex;
    justify-content: center;
    width: 70%;
    box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
    -webkit-box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
    -moz-box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
}

#addToCartDiv {
    width: 40%;
    padding: 20px;
    border: ridge;
}

#addToCartH4andBack{
    display:inline-flex;
    justify-content: space-between;
    padding: 0;
}
#addToCartBtn{
    text-align: right;
}
#addToCartMainDiv{
    display: flex;
    justify-items:center;
}

/* PROFILE DESIGN */
#deactivate {
    padding-left: 20px;
    padding-right: 20px;
}
#profileMainDiv {
    border: ridge;
    width: 60%;
    display: flex;
    padding: 0px;
}
#userProfileImg {
    height: 250px;
    width: 250px;
    opacity: 25%;
    margin: auto;
}
#profile2ndDiv {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #FAFAFA;
}
#profileBtns {
    display: flex;
    justify-content: space-between;
    padding-block-start:10px;
    padding-block-end:20px;
    padding-left: 20px;
    padding-right: 20px;
}
#profileBtn{
    width:49%;
}
#profileDetails {
    padding: 30px;

}
#profileDiv {
    display: flex;
    flex-direction: column;
    background-color: #6C757D;
    color:white;
    /*    background-color: #FAFAFA;
    box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
    -webkit-box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
    -moz-box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);*/
}
#profileH3 {
    color: #6C757D;
    text-align: center;
}
/* ROLES DESIGN */
#roleListH3 {
    color: #6C757D;
}
#createRoleContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#updateRoleContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#rolesContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#roleTR {
    text-align: center;
    background-color: #6C757D;
    color: white;
}
#roleTRBody {
    text-align: center;
    background-color: #F3F3F3;
}


/* PRODUCT LIST DESIGN */
#addProductContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#updateProductContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#productListContainer {
    width: 70%;
    border: ridge;
    padding: 20px;
}
#productTitleTR {
    background-color: #6C757D;
    color: white;
    text-align: center;
}
#productTRBody {
    text-align: center;
    background-color: #F3F3F3;
}

/* CATEGORY DESIGN */
#categoryListH3 {
    color: #6C757D;
}
#editLocationContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#addLocationContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#editCategoryContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#createCategoryContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#categoryContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#categoryTR {
    text-align: center;
    background-color: #6C757D;
    color: white;
}
#categoryTRBody {
    text-align: center;
    background-color: #F3F3F3;
}

/* LOCATION DESIGN */
#modifyLocationH4 {
    color: #6C757D;
    text-align: center;
}
#modifyLocationContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#addLocationH4 {
    color: #6C757D;
    text-align: center;
}
#createLocationContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#locationListH3 {
    color: #6C757D;
}
#locationContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#locationTR {
    text-align: center;
    background-color: #6C757D;
    color: white;
}
#locationTRBody {
    text-align: center;
    background-color: #F3F3F3;
}

/* TRANSACTION DESIGN */
#noTransaction2ndDiv{
    display:flex;
    justify-content:space-between;
    padding:0;
}
#noTransactionH2 {
    color: #6C757D;
}
#noTransactionImg{
    opacity: 30%;
    height:500px;
}
#noTransactionContainer {
    display: flex;
    justify-content: end;
    width: 90%;
}
#cartItemsTable {
    box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
    -webkit-box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
    -moz-box-shadow: 5px 4px 23px -6px rgba(132,132,132,0.65);
}
#cartItemsTR {
    background-color: #6C757D;
    color:white;
}
#cartItemsTRBody {
    
}
#cartItemsH4 {
    color: #6C757D;
}
#containerTransaction {
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
}
#transactionListH4 {
    text-align: center;
    color: #6C757D;
    padding:10px;
}
#transactionCardBody {
    background-color: #FAFAFA;
}
#transactionBtns{
    padding:0px;
}
#transactionBtns a{
    padding: 10px;
}

/* APPOINTMENT TYPE DESIGN */
#modifyAptTypeContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#modifyAptTypeH4 {
    color: #6C757D;
    text-align: center;
}
#APTTypeContainer {
    width: 50%;
    border: ridge;
    padding: 20px;
}
#APTTypeH3 {
    color: #6C757D;
}
#APTTR {
    background-color: #6C757D;
    color:white;
    text-align:center;
}
#APTTRBody {
    background-color: #F3F3F3;
    text-align: center;
}
#APTTpeContainer{
    width:40%;
    border:ridge;
    padding:20px;
}
#APTTypeH4 {
    text-align: center;
    color: #6C757D;
}

/* MODIFY ACCOUNT */
#modifyAccH4 {
    text-align: center;
    color: #6C757D;
}
#modifyAccContainer {
    width: 40%;
    border: ridge;
    padding: 20px;
}

/* Not Found Design */

#notFoundContainer{
    display:flex;
    flex-direction:column;
    justify-items:center;
    width:50%;
    padding:20px;
}
#notFoundH1 {
    text-align: center;
    color: #E97B79;
    font-size: 60px;
    font-weight: bold;
}
#notFoundH6 {
    text-align: center;
    color: #6C757D;
}
#notFoundImgContainer{
    display:flex;
    justify-content:center;
}
#notFoundImg{
    opacity: 50%;
    height:350px;
}

/* WELCOME PAGE DESIGN */
#deactAccWelcomeContainer{
    display:flex;
    flex-direction:column;
}
#deactAccWelcomeH2 {
    color: #FFD558;
    font-weight: bold;
    text-align: center;
}
#deactAccWelcomeContainer p {
    text-align: center;
    color: #6C757D;
}
#deactAccWelcomeBtn{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width: 300px;
}