@model JewelryRentalSystem.Models.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h3 id="changPassTitle">Change Password</h3>

<hr />
<div class="row" id="changePassDiv">
    <div class="col-md-4" id="changePass2ndDiv">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-sucess" role="alert">
                Password has been updated successfully 
            </div>
        }
        <div class="container" id="changePassDiv">
            <form id="changePassForm" asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br /><div class="d-flex" id="changePassBtnDiv">
                    <div>
                        <a id="changePassBackBtn" class="btn btn-secondary" asp-action="GetAllProducts" asp-controller="Product">Back to List</a>
                    </div>
                    <div class="form-group" >
                        <input type="submit" value="Submit" class="btn btn-warning" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



