@model JewelryRentalSystem.Models.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h3 id="changPassTitle">CHANGE PASSWORD</h3>

<hr />
<div class="container" id="changePassMainDiv">
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success" role="alert">
            Password has been updated successfully
        </div>
    }
    <div class="container" id="changePass2ndDiv">
        <div class="container" id="changePassDiv">
            <form id="changePassForm" asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" placeholder="Enter your current password..." class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" placeholder="Enter your new password..." class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" placeholder="Confirm your new password..." class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br /><div class="d-flex" id="changePassBtnDiv">
                    <div class="form-group" >
                        <input type="submit" value="Save Changes" class="btn btn-warning" />&nbsp
                    </div>
                    <div>
                        <a id="changePassBackBtn" class="btn btn-secondary" asp-action="GetAllProducts" asp-controller="Product">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="container" id="changePasswordImgDiv">
            <img id="changePasswordImg" src="~/img/password1.jpg"/>
        </div>
    </div>
</div>



