
@{
    ViewData["Title"] = "Acount";
}

<h2>Confirm Account Deactivation</h2>

<p>Are you sure you want to deactivate your account?</p>

<form method="post" asp-action="Deactivate">
    <button type="submit" class="btn btn-danger">Deactivate Account</button>
</form>