@model JewelryRentalSystem.Models.SignInModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>

    <h3 style="color:#6C757D" id="loginH4">Sign In to your Account</h3>
<hr />


    <div id="loginContainer" class="container rounded w-20">
        <div id="login2ndDiv" class="row">
                <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group"><br />
                        <label asp-for="Email" class="control-label" ></label>
                        <input asp-for="Email" class="form-control" id="loginTextbox" placeholder="Enter your email..." required/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" id="loginTextbox" placeholder="Enter your password..." required/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                        </label>
                    </div>
                    <div class="d-flex" id="signUpBtnDiv">
                    <div>
                        <a id="changePassBackBtn" class="btn btn-secondary" asp-action="GetAllProducts" asp-controller="Product">Cancel</a>
                    </div>
                        <div class="form-group">
                            <input id="loginButton" type="submit" value="Login" class="btn btn-warning" />
                        </div>
                    </div>
                </form>
            <div>
                <p id="loginParag">No Account yet? Click <a asp-action="SignUp" asp-controller="Account">here</a> to Signup.</p>
            </div>
        </div>
</div>

</body>
</html>
