@model JewelryRentalSystem.ViewModels.ModifyAccountViewModel

@{
    ViewData["Title"] = "ModifyAccount";
}

<h4 id="modifyAccH4">MODIFY ACCOUNT</h4>
<hr />
<div class="row">
    <div class="container" id="modifyAccContainer">
        <form asp-action="ModifyAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNo" class="control-label"></label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div><br />
            <div class="d-inline-flex justify-content-between">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-warning" />&nbsp
                </div>
                <div>
                    <a class="btn btn-secondary" asp-action="Profile">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



