@model JewelryRentalSystem.ViewModels.SignUpUserModel



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
@*    <link href=".../wwwroot/css/site.css" />*@
</head>
<body>

<div id="signUpContainer" class="container">
    <h4>Sign Up</h4>
    <hr />
    <div class="row">
        <div id="signUpform" class="col-md-4">
            <form asp-action="SignUp">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="signUpfield" class="form-group w-100">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div id="signUpfield" class="form-group w-100">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div id="signUpfield"  class="form-group w-100">
                        <label asp-for="Birthdate" class="control-label"></label>
                        <input asp-for="Birthdate" class="form-control" />
                        <span asp-validation-for="Birthdate" class="text-danger"></span>
                    </div>
                    <div id="signUpfield" class="form-group w-100">
                        <label asp-for="ContactNo" class="control-label"></label>
                        <input asp-for="ContactNo" class="form-control" />
                        <span asp-validation-for="ContactNo" class="text-danger"></span>
                    </div>
                    <div id="signUpfield" class="form-group w-100">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div id="signUpfield" class="form-group w-100">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div id="signUpfield" class="form-group w-100">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div id="signUpfield" class="form-group w-100">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <div id="signUpfield" class="form-group w-100">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
            </form>
        </div>
        
@*        Dito pwede maglagay ng image for sign up*@
        <div class="col-md-8">
            
        </div>
    </div>

    <div>
            <p>Click <a asp-action="Login" asp-controller="Account">here</a> to Login.</p>
    </div>
</div>


