@model JewelryRentalSystem.Models.Cart

@{
    ViewData["Title"] = "Edit";
}


<h4>Modify Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CartId" />
            <div class="form-group">
                <input hidden asp-for="CustomerName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input readonly asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductQty" class="control-label"></label>
                <input asp-for="ProductQty" class="form-control" />
                <span asp-validation-for="ProductQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentDuration" class="control-label"></label>
                <input asp-for="RentDuration" class="form-control" />
                <span asp-validation-for="RentDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="ProductId" class="form-control" />
            </div><br />
            <div class="d-inline-flex">
                <div>
                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>&nbsp
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>



