@model JewelryRentalSystem.ViewModels.ProductViewModel


<div class="container" id="updateProductContainer">
    <h3 style="text-align:center">Update Product</h3>

    <form method="post" asp-action="Update" asp-controller="Product">
        @*   <div asp-validation-summary="All" class="text-danger" ></div>*@
        <div class="container">

            <div>
                <label>Product ID</label>
                <input asp-for="ProductId" class="form-control" readonly />
            </div>
            <div>
                <label>Product Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div>
                <label>Product Price</label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>

            <div>
                <label>Product Stock</label>
                <input asp-for="ProductStock" class="form-control" />
                <span asp-validation-for="ProductStock" class="text-danger"></span>
            </div>

            <div>
                <label>Product Description</label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>

            <div>
                <label class="control-label">Product Image</label>
                <div class="custome-file">
                    <input asp-for="ProductImage" class="custom-file-input form-control" id="customFile" />
                    <label class="custom-file-label" for="customeFile"></label>
                </div>
            </div>

        </div>

        <div class="d-inline-flex justify-content-start" style="padding:10px;">
            <button class="btn btn-warning" type="submit">Update</button> &nbsp
            <a class="btn btn-secondary" asp-action="ProductManagement">Cancel</a>
        </div>
    </form>
</div>