@model JewelryRentalSystem.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Update Product";
}
@if (TempData["priceError"] != null)
{
    <div class="alert alert-danger">@TempData["priceError"]</div>
}

<div class="container" id="updateProductContainer">
    <H4 style="text-align:center;color: #6C757D;">MODIFY PRODUCT</H4>

    <form asp-action="Update" asp-controller="Product" method="post" enctype="multipart/form-data">
        <div hidden class="form-group">
            <label asp-for="ProductId"></label>
            <input asp-for="ProductId" class="form-control" />
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductName">Product Name</label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Category</label>
            <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-control"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CustomerClassId">Product Classification</label>
            <select asp-for="CustomerClassId" asp-items="ViewBag.CustomerClassId" class="form-control"></select>
            <span asp-validation-for="CustomerClassId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductPrice">Product Price</label>
            <input asp-for="ProductPrice" class="form-control" />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductStock">Product Stock</label>
            <input asp-for="ProductStock" class="form-control" />
            <span asp-validation-for="ProductStock" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Product Description</label>
            <textarea  asp-for="ProductDescription" class="form-control"></textarea>
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductImage" class="control-label">Product Image</label>
            <div class="custome-file">
                <input  asp-for="ProductImage" class="custom-file-input form-control" id="customFile" />
                <label class="custom-file-label" for="customeFile"></label>
            </div>
            <span asp-validation-for="ProductImage" class="text-danger"></span>
        </div>
        <div class="d-inline-flex justify-content-start">
            <br />
            <button class="btn btn-warning" type="submit">Save</button> &nbsp
            <a class="btn btn-secondary" asp-action="ProductManagement">Cancel</a>
        </div>

    </form>
</div>