<div class="container" id="notFoundContainer">
    <h1 id="notFoundH1">Oops!</h1>
    <h6 id="notFoundH6">PAGE NOT FOUND</h6>
    <div class="container" id="notFoundImgContainer">
        <img id="notFoundImg" src="~/img/NotFound1.png" />
    </div>
</div>