@model JewelryRentalSystem.Models.AppointmentType

@{
    ViewData["Title"] = "Create";
}

<h4 id="APTTypeH4">ADD APPOINTMENT TYPE</h4>
<hr />
<div class="row">
    <div class="container" id="APTTpeContainer">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Appointment Type Name</label>
                <input placeholder="Enter appointment type..." asp-for="APTName" class="form-control" />
                <span asp-validation-for="APTName" class="text-danger"></span>
            </div><br />
            <div class="d-inline-flex justify-content-between">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-warning" />&nbsp
                </div>
                <div>
                    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

