@model JewelryRentalSystem.Models.Category

@{
    ViewData["Title"] = "Create";
}
<h4 style="text-align:center; color: #6C757D;">ADD CATEGORY</h4>
<hr />

<div class="container" id="createCategoryContainer">
    <div class="row">
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Category Name</label>
                    <input placeholder="Enter product category name..." asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <br />
                <div class="d-inline-flex justify-content-between">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-warning" />&nbsp
                    </div>
                    <div>
                        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


