@model IEnumerable<JewelryRentalSystem.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="container" id="categoryContainer">
    <div class="container d-inline-flex justify-content-between">
        <h3 id="categoryListH3">PRODUCT CATEGORY</h3>
<p>
    <a class="btn btn-outline-secondary" asp-action="Create">Create New</a>
</p>
</div>
<table class="table">
    <thead>
        <tr id="categoryTR">
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="categoryTRBody">
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>